---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item tooltip">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
<div class="hide">
  <div>{{ post.description }}</div>
  <br/>
  <div><b>OS:&nbsp;</b>{{ post.os }}</div>
  <div><b>Tools:&nbsp;</b>{{ post.tools }}</div>
  <div><b>Stack:&nbsp;</b>{{ post.stack }}</div>
</div>
{%- endfor -%}
